

/* variables for colour control */

:root {
  --primary-color: #e2601a;
  --secondary-color: #560a7c;
  --background-primary: #e4ac11;
  --background-light: #f2f2f2;
  --blockquote-text: #ccc;
  --text-dark: #333333;
  --white: #ffffff;
  --black: #000;
}

/* Image */
img {
  border-radius: 5px;
  border: 3px solid var(--primary-color);
}

/* Header */
header {
  padding: 60px;
  text-align: center;
  background: var(--background-primary);
  color: var(--primary-color)
}

/* makes header text reduce in size for smaller screens */

header h1 {
  font-size: 2rem;
  word-wrap: break-word;
  white-space: normal;
  line-height: 1.2;       
}

/* Main */
main {
  background-color: var(--primary-color);
  padding: 5px;
  text-align: center;
}

h1 {
  color: var(--primary-color);
  text-align: centre;
}

h2 {
  color: var(--background-primary);
  text-align: centre;
}


/* card resizing restricting smallest size */

.card {
  width: 270px;                /* shrink-wrap around image */
  min-width: 240px;            /* don’t shrink below this on tiny screens */
  background-color: var(--background-primary);
  padding: 5px;
  text-align: center;
  margin-bottom: 1rem;         /* spacing between rows */
}

.card-img-top {
  height: 160px;
  object-fit: cover;
}

@media (min-width: 992px) {
  .card {
    min-width: 240px;
  }
}

@media (min-width: 992px) {
  .card-img-top {
    height: 160px;
  }
}

/* responsive header */

@media (min-width: 992px) {
  .header {
    height: 160px;
  }
}

@media (max-width: 576px) {
  header h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 375px) {
  .card {
    width: 90%;  /* slightly smaller than viewport */
  }
  .fixed-img {
    width: 100%;
    height: auto;
  }
}

